:root{
    --bs-body-font-family: 'Montserrat', sans-serif;

}


body {
    background-image: url("../img/download.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #437B94;*/
    
    height: 100%;
}

.middle-box{
    
    /* TODO Change width and height to be different depending on screen size */
    min-height: 700px;


    border: 1px solid black;
    

}

.middle-left-box{
    
    color: black;

}

.middle-right-box{

    color: black;
    background-image:url("../img/ai_art.png");
    background-size: cover;
    background-color: white;
    

}

